

.skill-details{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.skill-name{
    font-size: 1rem;
    font-weight: 550;
    color: white;
}
.skill-proff{
    font-size: 1rem;
    font-weight: 400;
    color: #fff777;
    font-style: italic;
    margin-left: 1rem;
}
.skill-bar{
    height: 5px;
    background-color: #fff777;
    /* width: 10%; */
    border-radius: 1rem;

}
.skill-bg{
    width: 90%;
    background-color:rgba(177, 176, 176, 0.317) ;
    border-radius: 1rem;
}