.port-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-columns: repeat(autofit,minmax(20px,1fr)) ; */
     align-items: center;
   
    padding: 1rem;
    gap:2rem;
    width: 85%;
    
}

.portfolio-main{
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin-top: 1rem;

}
@media  screen and (max-width:992px) {
     .port-container{
    grid-template-columns: 1fr;
    /* overflow-y: hidden; */
 }
 .portfolio-main{
    overflow-y: hidden;
 }
}